*, *::before, *::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: #cecece;
}

#bg {
	background-image: url("beer-texture-highress.jpg");
	background-size: cover;
	background-position: center center;
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

main {
	margin: 0 auto;
	/* padding: .25em 0; */
	padding-bottom: .25em;
	min-height: 100dvh;
	width: 80dvw;
	background-color: #ffffffd4;
}

@media screen and (max-width: 720px) {
	main {
		width: 100dvw;
	}
}

:root {
	--primary-lighter-hsl: 40, 95%, 65%;
	--primary-hsl: 40, 83%, 60%;
	--primary-darker-hsl: 40, 55%, 45%;
	--success-hsl: 100, 60%, 50%;
	--error-hsl: 0, 60%, 50%;
}

#hero > img {
	width: 100%;  
	margin-bottom: -0.25em;
}

#hero > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-content: center;

}
#page-title{
	margin: 0;
	margin-left: .5em;
	margin-right: .5em;
	color: antiquewhite;
	text-decoration: underline;
	text-align: center;
	font-size: max(5vw, 1.75rem);
	margin-top: 1em;
}

#grabber{
	color: aliceblue;
	font-size: max(2.5vw, 1rem);
	width: 80%;
	max-width: 21em;
        margin: .5em;
	margin-top: 2em;
	margin-left: 3em;
	text-shadow: 1px 3px 4px #1d1108;
}

#hero-action {
        margin-left: 1.5em;
}

#hero-action > button {
	font-size: max(2.75vw, 1rem);
	margin-left: 2.25em;
        border-radius: .5em;
        width: 8em;
        color: #a54d07;
        background-color: #ddc9b4;
}

#downloadables {
	position: absolute;
	right: 8em;
	top: 24em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

#downloadables > button {
	font-size: max(2vw, 1rem);
        border-radius: .5em;
        width: 8em;
        color: #a54d07;
        background-color: #ddc9b4;
}

@media screen and (max-width: 440px) {
        #page-title{
                margin-top: .5em;
        }
        #grabber {
                background-color: #23170f99;
                border-radius: .5em;
                padding: .25em .5em;
                margin-top: 1em;
                margin-left: 1.75em;
        }
        #hero-action {
                margin: 0;
                margin-top: .25em;
                display: flex;
                justify-content: center;
                gap: 1em;
        }
        #hero-action > button {
	        font-size: max(2.75vw, 1rem);
                margin: 0;
        }
}

.x {
	position: absolute;
	right: 1em;
	background: transparent;
	border: none;
	box-shadow: none;
	top: .75em;
	font-size: min(3.5vh, 3.5vw);
}

.x:hover, .x:focus {
	background: transparent;
}

button:hover {
	color: #f2cb7e;
	background: #d97127;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: .5em 0;
}

h1 {
	text-align: center;
	color: hsl(var(--primary-hsl));
	font-weight: normal;
	font-size: 2.5rem;
}

section, form, figure {
	margin: 0;
	padding: 0 2em;
}

ul {
	padding-left: 1.25em;
}

ol {
	list-style: japanese-informal;
}

#place {
	display: flex;
	justify-content: space-between;
	/* container-type: inline-size; */
}

#place figcaption {
	width: 50%;
	max-width: 30em;
	font-size: 1.1rem;
}

#place img {
	width: 45%;
	max-height: 15em;
	border-radius: 1em;
	box-shadow: 10px 10px 8px #b3b3b3;
	object-fit: cover;
	object-position: 25% center;
}

@media screen and (max-width: 540px) {
	#place {
		color: white;
		background-image: url("rebel-drone.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 60% center;
		text-shadow: .1em .1em .15em hsl(var(--primary-darker-hsl));
		flex-direction: row-reverse;
		padding-right: 0;
	}
	#place img {
		display: none;
	}
	#place figcaption {
		width: 85%;
	}
	#place figcaption > p, #place figcaption > h2{
		background-color: hsl(var(--primary-darker-hsl), .8);
		padding: .25em;
	}
}

/*@container (max-width: 600px) {*/
/*
@media screen and (max-width: 840px) {
	#place {
		flex-direction: column;
	}

	#place figcaption {
		width: 100%;
	}

	#place img {
		width: 100%;
	}
}
*/

#rules > div {
	display: flex;
	justify-content: space-between;
}

#rules #voting {
	width: 59%;
}

#rules #newbie {
	width: 38%;
}

@media screen and (max-width: 540px) {
	#rules > div {
		flex-direction: column;
	}

	#rules #voting {
		width: 100%;
	}

	#rules #newbie {
		width: 100%;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 2em 1.5em;
	margin: 0 auto;
	background-image: url("beer-on-moody-table.jpg");
	background-size: cover;
	background-position: right center;
	box-shadow: 0 0 15px 0 var( hsl(var(--primary-darker-hsl), .7));
	width: 100%;
	max-width: 600px;
	border-radius: 2.5em;
}

@media screen and (max-width: 540px) {
	form {
		width: 95%;
		/* background-position: 40% 0; */
	}
}

form > h2 {
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
}

form > div {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

form > div label {
	color: white;
	font-weight: lighter;
}

form > div input, 
form > div textarea {
	font-size: 1.25rem;
	padding: .5em;
	background-color: hsl(var(--primary-lighter-hsl), .3);
	border: none;
	outline: none;
	border-radius: .25em;
	color: white;
	font-weight: lighter;
}

form > div.success input {
	box-shadow: 0 0 0 1px hsl(var(--success-hsl));
}

form > div.error input {
	box-shadow: 0 0 0 1px hsl(var(--error-hsl));
}

form > div input:focus {
	box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
}

form > div .msg {
	display: none;
	font-size: .75rem;
}

form > div.success .msg,
form > div.error .msg {
	display: block;
}

form > div.error .msg {
	color: hsl(var(--error-hsl));
}

form > div.success .msg {
	color: hsl(var(--success-hsl));
}

form > button {
	padding: .5em 1em;
	font-size: 1.5rem;
	font-weight: lighter;
	color: white;
	background-color: hsl(var(--primary-hsl), .25);
	border: 1px solid hsl(var(--primary-hsl));
	border-radius: .25em;
	outline: none;
	cursor: pointer;
}

form > button:hover,
form > button:focus {
	background-color: hsl(var(--primary-hsl), .4);
}

form > span {
	opacity: 0;
	color: red;
	font-size: 1.1rem;
	font-weight: lighter;
	background-color: hsl(0, 60%, 15%, .8);
	padding: .25em;
	border-radius: .3em;
	padding-left: .5em;
}

#myInput, #beerSearch {
	margin-top: 1em;
	background-image: url('searchicon.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
}

table {
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* Full-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 18px; /* Increase font-size */
}

table th, table td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
}

table tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd; 
}

table tr.header, table tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: #f1f1f1;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}


dialog {
	background: transparent;
	border: none !important;
	padding: 0;
	width: 80%;
	max-width: 600px;
}

::backdrop {
  background: #23170f99;
}
